/* modal창 외부화면 */
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* modal창 */
.modalBody {
  position: absolute;
  width: 60%;
  height: 65%;
  padding: 2vh;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 2vh;
  box-shadow: 0 2vh 3vh 0 rgba(34, 36, 38, 0.15);
}

#modalCloseBtn {
  position: absolute;
  top: 3vh;
  right: 3vh;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
  font-size: 2vh;
}

#modalCloseBtn:hover {
  cursor: pointer;
}

.new-promise-text-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 10%;
  margin-left: 2%;
  font-family: "Pretendard-Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 1.5em;
}
.new-promise-under-btn-wrapper {
  display: grid;
  align-items: center;
}
