.address-result-top-div {
  width: 93vw;
  margin: 3% auto;

  p {
    font-size: 13px;
    color: gray;
  }
}

.address-result-ul {
  width: 93vw;

  .address-result-li {
    width: 100%;
    padding: 1.7rem 1rem;
    display: grid;
    grid-template-columns: 10fr 2fr;
    border-bottom: 1px solid gray;

    .address-result-text {
    }

    .address-result-btn {
      border-radius: 15px;
    }
  }
}
