.friend-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 100vh;
  // width:90vw;

  .friend-title-wrapper {
    display:flex;
    align-items:center;
    // height:5vh;
    font-family: "Pretendard-Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
  }
  .friend-content-wrapper {
    width:100%;
    // height:90%;
  }
  .friend-search-wrapper {
    width:85%;
  }
}

.friend-list-wrapper {
  align-items: center;
  // width: 100%;
  // height: 100vh;
  
  .friend-list-each-wrapper {
    display: grid;
    height: 50px;
    margin-left: 1vw;
    margin-right:1vw;
    padding: 1vh 1vh 1vh 1vh;
  }
}

.friend-search-result-wrapper {
  height: 48px;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  
  p:first-child {
    margin-left: 3vw;
  }
  p:last-child {
    margin-right: 3vw;
  }
}

:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;

  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

$shadow: 0.3em 0.3em 0.6em var(--greyLight-2), -0.2em -0.2em 0.5em var(--white);
$inner-shadow: inset 0.2em 0.2em 0.5em var(--greyLight-2),
  inset -0.2em -0.2em 0.5em var(--white);

.search {
  display: flex;
  align-items: center;
  padding: 1vh 1vh 1vh 1vh;
  width: 98%;

  &__input {
    width: 100%;
    height: 2em;
    border: none;
    border-radius: 1em;
    font-size: 1em;
    padding-left: 1em;
    box-shadow: $inner-shadow;
    background: none;
    font-family: "pPretendard-Bold";
    color: var(--greyDark);

    &::placeholder {
      color: var(--greyLight-3);
    }
    &:focus {
      outline: none;
      box-shadow: $shadow;

      + .search__icon {
        color: var(--primary);
      }
    }
  }

  &__icon {
    height: 1.5em;
    position: relative;
    font-size: 20px;
    padding: 0 1vw;
    margin-left: 15px;
    display: flex;
    color: var(--greyDark);
    transition: 0.3s ease;
    margin-top: 5px;
  }
}
.friend-search-result-list {
  // border: 1px solid skyblue;
  width: 100%;
  height: 5.8vh;
  // position: absolute;
  // bottom: 1vh;
  // left: 3vw;
  color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;

  p:first-child {
    // border: 1px solid blue;
    margin-left: 4vw;
  }
  
  p:last-child {
    // border: 1px solid red;
    margin-right: 4vw;

  }
}
