.friend-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 100vh;
  // width:90vw;

  .friend-title-wrapper {
    display:flex;
    align-items:center;
    // height:5vh;
    font-family: "Pretendard-Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
  }
  .friend-content-wrapper {
    width:100%;
    // height:90%;
  }
  .friend-search-wrapper {
    width:85%;
  }
}

.friend-list-wrapper {
  align-items: center;
  // width: 100%;
  // height: 100vh;
  
  .friend-list-each-wrapper {
    display: grid;
    height: 50px;
    margin-left: 1vw;
    margin-right:1vw;
    padding: 1vh 1vh 1vh 1vh;
  }
}

.friend-search-result-wrapper {
  height: 48px;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  
  p:first-child {
    margin-left: 3vw;
  }
  p:last-child {
    margin-right: 3vw;
  }
}

.friend-search-result-list {
  border: 1px solid skyblue;
}