.mypage {
  width: 100%;
}

.content {
  width: 100%;
  position: relative;

  .my-content-img {
    width: 100%;
    justify-content: center;
    padding-top: 7vh;
    display: flex;
    .my-content-img-real {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 100%;
      overflow: hidden;
      border: 3px outset rgba(156, 122, 219, 0.67);
    }
  }

  .my-content-name {
    width: 100%;
    padding-top: 2vh;
    justify-content: center;
    display: flex;
    font-size: 25px;
    font-weight: 600;
  }

  .my-content-edit-btn-wrapper {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: right;
    align-items: end;
    padding-top: 2.5vh;
    right: 20px;
    .my-content-edit-btn {
      width: 10%;
      height: 5vh;
      justify-content: right;
      padding-bottom: 2.5vh;
      text-decoration: underline;
      border: none;
      background: none;
      font-size: 18px;
    }
  }
  .my-content-real-all-wrapper {
    height: 55vh;
    overflow: scroll;
    .my-content-line {
      width: 100%;
      height: 2px;
      background-color: rgba(204, 204, 204, 0.541);
    }
    .my-content-line-2 {
      width: 100%;
      height: 2px;
      background-color: rgba(204, 204, 204, 0.288);
    }
    .my-content-address-wrapper {
      width: 100%;
      padding: 4% 0 4% 0;
      background-color: rgba(230, 230, 230, 0.466);
      .my-content-address {
        display: grid;
        width: 100%;
        text-decoration: none;
        .my-content-address-nick {
          margin-left: 6%;
          font-size: 19px;
          font-weight: 600;
          padding-bottom: 5px;
        }
        .my-content-address-real {
          margin-left: 6%;
          font-size: 18px;
        }
      }
      .my-content-address-icon {
        position: absolute;
        padding-top: 12px;
        right: 5px;
      }
    }
    .my-content-info-wrapper {
      width: 100%;
      padding: 3% 0 3% 0;
      .my-content-info {
        width: 100%;
        .my-content-info-title {
          margin-left: 6%;
          font-size: 19px;
          font-weight: 600;
          color: rgb(104, 104, 104);
          padding-bottom: 5px;
        }
        .my-content-info-txt {
          margin-left: 6%;
          font-size: 18px;
        }
      }
    }
    .my-content-logout-btn-wrapper {
      width: 100%;
      justify-content: center;
      padding-top: 3vh;
      display: flex;
    }
  }
  .mypage-edit-input-wrapper {
    width: 100%;
    margin-top: 5vh;
    .mypage-edit-btn {
      width: 30vw;
      justify-content: center;
      padding-top: 3vh;
      display: flex;
    }
  }
}

.mypage-new-address-wrapper {
  display: flex;
  justify-content: center;
  .mypage-new-address {
    width: 90%;
    height: 5vh;
    border: none;
    background-color: rgba(124, 124, 124, 0.116);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    .mypage-new-address-icon {
      margin-right: 5px;
    }
    .mypage-new-address-txt {
      font-size: 23px;
      align-items: center;
    }
  }
}

.mypage-content-wrapper {
  display: flex;
  width: 90%;
  align-items: center;
  background-color: rgba(207, 182, 255, 0.247);
  margin: 5%;
  padding: 5% 0% 5% 0%;
  border-radius: 5vw;
  .mypage-content-address {
    display: grid;
    width: 100%;
    text-decoration: none;
    .mypage-content-address-nick {
      margin-left: 7%;
      font-size: 21px;
      font-weight: 600;
      padding-bottom: 5px;
    }
    .mypage-content-address-real {
      margin-left: 7%;
      font-size: 20px;
    }
  }
  .mypage-content-address-btn-wrapper {
    display: flex;
    margin-right: 5%;
    .mypage-content-address-btn {
      border: none;
      background-color: rgba(207, 182, 255, 0.5);
      width: 12.5vw;
      height: 7.5vw;
      margin-left: 5%;
    }
  }
}
