.basicButton {
  background: linear-gradient(-45deg, #f09c82, #f19d9d, #6a5f9e, #97b7e0);
  animation: gradient 15s ease infinite;
  width: 65%;
  // max-width: 300px;
  height: 6vh;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
  font-family: "Pretendard-Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 2vh;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.726);
  box-shadow: 0px 0px 5px #fff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: -2px -2px 5px #fff;
  }

  &:active {
    box-shadow: inset 1px 1px 2px linear-gradient(-45deg, #ee7752, #f17373, #4d3c97, #6fa0e0), inset -1px -1px 2px #fff;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}


