@font-face {
    font-family: "Pretendard-Black";
    font-display: fallback;
    src: url("./Pretendard-Black.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard-Bold";
    font-display: fallback;
    src: url("./Pretendard-Bold.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}