.basic-header-3-wrapper {
  width: 100%;
  height: 8vh;
  margin-top: 1vh;

  .basic-header-3-vector-wrapper {
    position: fixed;
    display: flex;
    height: 8vh;
    align-items: center;
    left: 10vw;
    // margin-left: 20px;
  }

  .basic-header-3-text-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: "Pretendard-Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 2.5vh;
  }
}
