.basic-header-1-wrapper {
  width: 100%;
  height: 10vh;
  // border: 1px solid black;

  .basic-header-1-vector-wrapper {
    position: absolute;
    display: flex;
    height: 10vh;
    align-items: center;
    margin-left: 20px;
    // border: 1px solid blue;
  }

  .basic-header-1-text-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-family: "Pretendard-Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 3.5vh;
  }
}
