.white-header-wrapper {
    width: 100%;
    height: 8vh;
    
    .white-header-vector-wrapper {
        position: absolute;
        height: 8vh;
    }

    .white-header-text-wrapper {
        border: 1px dotted blue;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        
        .text {

        }
    }
}

// .header-wrapper{
//     // border: 1px solid black;
//     width: 100%;
//     height: 10%;
//     display: flex;
//     align-items: center;
//     // justify-content: center;
//     position: relative;
// }

// .header-vector-wrapper{
//     // border: 1px solid black;
//     width: 20%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: absolute;
// }

// .header-text-wrapper{
//     // border: 1px solid black;
//     width: 100%;
//     height: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: absolute;
//     font-family: 'Inter';
//     font-style: normal;
//     font-weight: 800;
//     font-size: 28px;
//     line-height: 22px;
//     color: rgba(0, 0, 0, 0.6);
// }